[Unit]
Description=OrcaAi GitHub Actions Runner
After=network.target

[Service]
WorkingDirectory=/home/vivek/orcaai-server-runner
ExecStart=/home/vivek/orcaai-server-runner/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
