[Unit]
Description=OrcaAi GitHub Actions Runner
After=network.target

[Service]
WorkingDirectory=/home/vivek/orcaai-server-runner-v2
ExecStart=/home/vivek/orcaai-server-runner-v2/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
